// Some Simple Helper classes to start us off...
.float-right {
  float: right;
}

.legend-buttons {
  @extend .float-right;
  button {
    margin-top: -5px;
  }
}

.fullwidth {
  width: 100%;
}

.tab-body {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
}

// Page(style) editor
form[name=pageForm] {

  @extend .tab-body;
}

// Conent Blocks -- This is where Cimentarius is born.
ul.content-blocks {
  padding: 0;

  li.content-block {
    @extend .tab-body;
    padding: 10px;
    list-style: none;
    ul.particle-list {
      li.particle {
        list-style: none;
      }
      li.no-particles {
        @extend .well;
        @extend li.particle;
        span {
          margin: 10px 20px 0 0;
          font-size: 200%;
          float: left;
          color: red;
        }
        font-size: 110%;
        margin: 40px 40px 40px 0;
      }
    }
  }
}
