// Some Simple Helper classes to start us off...
.float-right {
  float: right;
}

.legend-buttons {
  @extend .float-right;
  button {
    margin-top: -5px;
  }
}

.fullwidth {
  width: 100%;
}

.inverse-text {
  color: $inverse-text-color;
}

.tab-body {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
}

// Page(style) editor
form[name=pageForm] {
  @extend .tab-body;
}

ul.dropdown-menu h1,
ul.dropdown-menu h2,
ul.dropdown-menu h3,
ul.dropdown-menu h4,
ul.dropdown-menu h5,
ul.dropdown-menu h6,
ul.dropdown-menu p {
  @extend .inverse-text;
  margin-left: 5px;
}

// Conent Blocks -- This is where Cimentarius is born.
ul.content-blocks {

  border-bottom: 1px solid;
  padding: 0;
  li.content-block {
    @extend .tab-body;
    padding: 10px;

    list-style: none;
    ul.particle-list {
      li.particle {
        @extend .well;
        height: 36px;
        margin-bottom: 5px;
        padding: 1px;
        list-style: none;
        div.row {
          div.particle-type {
            font-size: 90%;
            margin: 3px;
            border-width: 2px;
            border-style: outset;
            border-color: lighten($brand-success, 12.5%);
            background-color: darken($brand-success, 12.5%);
            border-radius: 5px;
            text-align: center;
          }
        }
      }
      li.no-particles {
        @extend li.particle;
        div.row {
          div.no-particles {
            margin: 0 20px 0 20px;
            span {
              font-size: 20px;
              color: red;
              float: left;
            }
          }
        }
        font-size: 110%;
      }
    }
  }
}

body.dragging ul[dnd-list] li.no-particles {
  opacity: 5;
}
