// Some Simple Helper classes to start us off...
.float-right {
  float: right;
}

.legend-buttons {
  @extend .float-right;
  button {
    margin-top: -5px;
  }
}

.fullwidth {
  width: 100%;
}

.inverse-text {
  color: $inverse-text-color;
}

.tab-body {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
}

// Page(style) editor
form[name=pageForm] {
  @extend .tab-body;
}

ul.dropdown-menu h1,
ul.dropdown-menu h2,
ul.dropdown-menu h3,
ul.dropdown-menu h4,
ul.dropdown-menu h5,
ul.dropdown-menu h6,
ul.dropdown-menu p {
  @extend inverse-text;
}

// Conent Blocks -- This is where Cimentarius is born.
ul.content-blocks {
  padding: 0;

  li.content-block {
    @extend .tab-body;
    padding: 10px;
    list-style: none;
    ul.particle-list {
      li.particle {
        @extend .well;
        padding: 1px;

        list-style: none;
        div {
          span.particle-type {
            font-size: 90%;
            padding: 5px;
            border-width: 2px;
            border-style: outset;
            border-color: lighten($brand-success, 12.5%);
            background-color: darken($brand-success, 12.5%);
            border-radius: 5px;
            margin-right: 10px;
          }
          margin: 3px 5px 5px 5px;
        }
        margin: 0 0 5px -40px;
      }
      li.no-particles {
        @extend .well;
        @extend li.particle;
        div {
          span {
            margin: 0 20px 0 0;
            font-size: 200%;
            float: left;
            color: red;
          }
        }
        font-size: 110%;
        margin: 40px 40px 40px 0;
      }
    }
  }
}
